<footer>
    <p>Copyright © 2022 - Rujin Shrestha</p>
    <p>All rights reserved ™</p>
    <div id="social-handles">
        <a href="https://www.instagram.com/rujin_shrestha/" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/rujin-shrestha-654080193/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/theNyachhon" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </div>
</footer>