<div id="inprogress">
    <div class="container">
        <img src="https://tenor.com/view/construction-lol-headbang-gif-5665718.gif" alt="Under Construction gif">
        <p>Page under construction!</p>
    </div>
</div>