<nav>
    <div id="logo">
        RS.
    </div>
    <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
    <div id="theme">
        <i id="sun" class="fas fa-sun"></i>
        <i id="moon" class="fas fa-moon hidden"></i>
    </div>
    <div id="close-nav">
        <i class="fas fa-chevron-right"></i>
    </div>
</nav>