<div id="proj-list">
    <div class="proj">
        <div class="proj-img">
            <img src="imgs/avTrackingSystem.png" alt="Android vehicle tracking app">
        </div>
        <div class="proj-title">
            <h3>Android Vehicle Tracking Application</h3>
        </div>
        <div class="proj-tools">
            <span class="tool">
                #html
            </span>
            <span class="tool">
                #css
            </span>
            <span class="tool">
                #php
            </span>
            <span class="tool">
                #mySQL
            </span>
        </div>
        <div class="proj-desc">
            <p> I contributed to the web development side of this project.
                The basic function is to help track and display location details of users that are logged into their
                respective mobile device app.</p>
        </div>
        <div class="proj-link">
            <a href="https://avtrackingsystem.herokuapp.com/" target="_blank">Live Demo</a>
            <a href="https://github.com/TheNyachhon/Android-vehicle-tracking-application" target="_blank">Code</a>
        </div>
    </div>
    <div class="proj">
        <div class="proj-img">
            <img src="imgs/bankingSystem.png" alt="Banking system">
        </div>
        <div class="proj-title">
            <h3>Banking System</h3>
        </div>
        <div class="proj-tools">
            <span class="tool">
                #html
            </span>
            <span class="tool">
                #css
            </span>
            <span class="tool">
                #js
            </span>
            <span class="tool">
                #express
            </span>
            <span class="tool">
                #mongoDB
            </span>
            <span class="tool">
                #ejs
            </span>
        </div>
        <div class="proj-desc">
            <p>This Project was carried out as a part of the web development internship at The Sparks Foundation.
                It is a basic Banking System, demonstrating the transactions that take place.</p>
        </div>
        <div class="proj-link">
            <a href="https://tsf-grip-bankingsystem.herokuapp.com/" target="_blank">Live Demo</a>
            <a href="https://github.com/TheNyachhon/TSF_GRIP-BankingSystem" target="_blank">Code</a>
        </div>
    </div>
    <div class="proj">
        <div class="proj-img">
            <img src="imgs/hamroChat.png" alt="Hamro-Chat">
        </div>
        <div class="proj-title">
            <h3>Web Chatting Application</h3>
        </div>
        <div class="proj-tools">
            <span class="tool">
                #html
            </span>
            <span class="tool">
                #css
            </span>
            <span class="tool">
                #js
            </span>
            <span class="tool">
                #express
            </span>
            <span class="tool">
                #socket.io
            </span>
            <span class="tool">
                #mongoDB
            </span>
        </div>
        <div class="proj-desc">
            <p>The project is a web-based chatting application which allows users to communicate with each other. This
                is made possible by the use of Socket.io library</p>
        </div>
        <div class="proj-link">
            <a href="https://hamro-chat.herokuapp.com/" target="_blank">Live Demo</a>
            <a href="https://github.com/TheNyachhon/Web-Chatting-Application" target="_blank">Code</a>
        </div>
    </div>
    <div class="proj">
        <div class="proj-img">
            <img src="imgs/portfolio.png" alt="My portfolio">
        </div>
        <div class="proj-title">
            <h3>My Portfolio</h3>
        </div>
        <div class="proj-tools">
            <span class="tool">
                #html
            </span>
            <span class="tool">
                #css
            </span>
            <span class="tool">
                #js
            </span>
            <span class="tool">
                #express
            </span>
            <span class="tool">
                #ejs
            </span>
        </div>
        <div class="proj-desc">
            <p>My Portfolio website completely made from scratch highlighting myself and the work I have done.
                Thoughtfully designed and coded. Plus with an option of changing b/w dark and light theme!</p>
        </div>
        <span id="alreadyHere">
            <img src="https://i.imgflip.com/60vczd.jpg" alt="Already here">
        </span>
        <div class="proj-link">
            <!-- <a href="https://rujinshrestha.herokuapp.com/" target="_blank">Live Demo</a> -->
            <a id="portfolio-link">Live Demo</a>
            <a href="https://github.com/TheNyachhon/Portfolio" target="_blank">Code</a>
        </div>
    </div>
</div>